<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>회원가입</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        @media (min-width: 768px) {
            .container {
                width: 600px;
            }
        }

        .field-error {
            border-color: red;
            color: red;
        }

        .field-error-solve {
            border-color: blue;
            color: blue;
        }
    </style>

</head>

<body class="bg-light">
<nav th:replace="fragment/fragments.html :: navbar"></nav>

<div class="container">
    <div class="row">
        <h2 class="py-3 mb-3 text-center">회원 가입</h2>

        <form method="post" action="#" id="joinForm"
              th:action="@{/join}" th:object="${joinFormDto}">


            <div class="mb-2 col">
                <label for="userId" class="form-label">아이디</label>
                <input type="text" class="form-control" id="userId" onkeyup="checkId()"
                       th:field="*{userId}" th:errorclass="field-error">
                <div class="field-error" th:errors="*{userId}"></div>
                <div class="field-error" id="idError"></div>
            </div>

            <div class="mb-2 col">
                <label for="userPwd" class="form-label">비밀번호</label>
                <input type="password" class="form-control" id="userPwd" onkeyup="checkPwd()"
                       th:field="*{userPwd}" th:errorclass="field-error">
                <div class="field-error" th:errors="*{userPwd}"></div>
                <div class="field-error" id="pwdError"></div>
            </div>

            <div class="mb-2 col">
                <label for="userPwdConfirm" class="form-label">비밀번호 확인</label>
                <input type="password" class="form-control" onkeyup="checkEqualPwd()" id="userPwdConfirm"
                >
                <div class="field-error" id="pwdConfError"></div>
            </div>

            <div class="mb-2 col">
                <label for="userName" class="form-label">이름</label>
                <input type="text" class="form-control" id="userName" onkeyup="checkName()"
                       th:field="*{userName}" th:errorclass="field-error">
                <div class="field-error" th:errors="*{userName}"></div>
                <div class="field-error" id="nameError"></div>
            </div>

            <div class="mb-2 col">
                <label for="birthDate" class="form-label">생년월일</label>
                <input type="date" class="form-control" id="birthDate" onchange="checkBirth()"
                       th:field="*{birthDate}" th:errorclass="field-error">
                <div class="field-error" th:errors="*{birthDate}"></div>
                <div class="field-error" id="birthDateError"></div>
            </div>

            <div class="mb-2">
                <label for="email" class="form-label">이메일</label>

                <div class="mb-2 col">
                    <input type="email" class="form-control" id="email" placeholder="이메일을 입력해주세요" oninput="checkEmail()"
                           th:field="*{email}" th:errorclass="field-error">
                </div>
                <div class="field-error" th:errors="*{email}"></div>
                <div class="field-error" id="emailError"></div>

                <div class="row g-2">
                    <div class="col">
                        <input type="text" class="form-control" id="auth" placeholder="인증번호" disabled="true"
                        >
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary"
                                id="emailButton" onclick="sendEmail()">인증메일 전송
                        </button>
                    </div>
                </div>
                <div class="field-error" id="emailValidated"></div>

            </div>
        </form>

        <div class="py-4 mb-5">
            <button class="w-100 btn btn-primary" onclick="joinValidate()">회원 가입</button>
        </div>
    </div>
</div>

<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" th:src="@{js/user/join.js}"></script>
</body>
</html>