<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${article.getTitle()}"></title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
</head>


<body class="bg-light">


<nav th:replace="fragment/fragments.html :: navbar"></nav>

<div class="container mb-5">
    <div class="row justify-content-center mt-5 mb-3">
        <div class="col">

            <div class="mt-5">
                <h2 th:text="${article.getTitle()}"></h2>
            </div>

            <div class="row">
                <div class="col-4 col-sm-auto fw-lighter" th:text="${article.getWriterId()}">글쓴이</div>
                <div class="col-4 col-sm-auto fw-lighter" th:text="${article.getWrittenDate()}">작성일</div>
                <div class="col text-end fw-lighter" th:text="|조회 ${article.getHit()}|">조회수</div>
            </div>

            <hr style="border: solid 1px;">

            <textarea th:text="${article.getContents()}" name="contents" id="contents" hidden></textarea>

            <div class="mb-5 mt-5" id="viewer"></div>

            <div class="d-flex justify-content-between">
                <a sec:authorize="isAuthenticated()" th:if="${isItYou}" class="btn btn-primary"
                   th:href="@{/board/editArticle/{articleId}(articleId=${article.getArticleUid()})}"
                   type="button">수정
                </a>
                <a sec:authorize="isAuthenticated()" th:if="${isItYou}" class="btn btn-primary"
                   th:href="@{/board/deleteArticle/{articleId}(articleId=${article.getArticleUid()})}"
                   type="button">삭제
                </a>
            </div>
            <hr style="border: solid 1px;">

            <!--reply-->
            <div class="container">
                <div class="replyList" id="replyList"></div>
            </div>

            <!--reply write form-->
            <div class="container">
                <form name="replyWriteForm" sec:authorize="isAuthenticated()">
                    <div class="input-group">
                        <textarea type="text" class="form-control" id="replyContent" name="replyContent"
                                  style="resize:none"></textarea>
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="button" name="commentInsertBtn"
                                    style="height: 100px" onclick="replyWrite()">등록
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!--            -->
            <!--reply-->
        </div>
    </div>
</div>

</body>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="/js/user/getCsrfToken.js"></script>
<script src="/js/user/viewer.js"></script>
<script src="/js/user/getCsrfToken.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
<script th:inline="javascript">

    const replyBox = document.getElementById("replyList");

    document.addEventListener("DOMContentLoaded",
        function () {

            let token = getCsrfToken();
            let articleId = [[${article.getArticleUid()}]];

            const xhr = new XMLHttpRequest();
            xhr.open("GET", "/reply/list/" + articleId);
            xhr.setRequestHeader("X-XSRF-TOKEN", token);
            xhr.send();

            xhr.onload = () => {
                makeReplyBox(xhr, replyBox);
            }
        }
    );

    function replyWrite() {
        let token = getCsrfToken();
        let contents = {contents: document.getElementById("replyContent").value};

        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/reply/writeReply/" + [[${article.getArticleUid()}]]);
        xhr.setRequestHeader("content-type", "application/json");
        xhr.setRequestHeader("X-XSRF-TOKEN", token);
        xhr.send(JSON.stringify(contents));

        xhr.onload = () => {
            makeReplyBox(xhr, replyBox);
        }
    }

    function deleteReplyConfirm(replyUid){

        if (confirm("댓글을 정말 삭제하시겠습니까?") == true){
            deleteReply(replyUid);
        }else{
            return false;
        }
    }

    function deleteReply(replyUid) {
        let token = getCsrfToken();

        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/reply/deleteReply/" + [[${article.getArticleUid()}]] + "/" + replyUid);
        xhr.setRequestHeader("content-type", "application/json");
        xhr.setRequestHeader("X-XSRF-TOKEN", token);
        xhr.send();

        xhr.onload = () => {
            makeReplyBox(xhr, replyBox);
        }
    }

    function makeReplyBox(xhr, replyBox) {
        if (xhr.status === 200 || xhr.status === 201 || xhr.status === 202) {
            document.getElementById("replyContent").value = '';

            let list = JSON.parse(xhr.response);

            replyBox.innerHTML = '';

            console.log(list);

            for (const reply of list) {
                let replyHtmlSource = ' ';
                replyHtmlSource += '<div class="" style="border-bottom:1px solid darkgray; margin-bottom: 15px;">';
                replyHtmlSource += '<div style="display: flex; flex-direction: row-reverse; font-size: small">';
                reply.replyWrittenDate[1] = reply.replyWrittenDate[1] - 1;
                let date = moment(reply.replyWrittenDate).format('YY-MM-DD HH:mm:ss');
                replyHtmlSource += '<div>' + date + '</div>';

                if (reply.replyWriterId === [[${#authentication.name}]]) {
                    replyHtmlSource += '<div style="flex-basis: 50px"><a href="#" id="deleteReply' + reply.replyUid + '" ' +
                        ' onclick="deleteReplyConfirm(' + reply.replyUid + ');return false">삭제</a></div>';
                }

                replyHtmlSource += '</div>';
                replyHtmlSource += '<div style="display: flex; flex-direction: row">';
                replyHtmlSource += '<div style="flex-basis: 100px">' + reply.replyWriterId + '</div>';
                replyHtmlSource += '<div>' + reply.replyContents + '</div>';
                replyHtmlSource += '</div>';
                replyHtmlSource += '</div>';

                replyBox.innerHTML += replyHtmlSource;

            }
        }
    }

</script>
</html>