<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${article.getTitle()}"></title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
</head>


<body class="bg-light">


<nav th:replace="fragment/fragments.html :: navbar"></nav>

<div class="container">
    <div class="row justify-content-center mt-5 mb-3">
        <div class="col">

            <div class="mt-5">
                <h2 th:text="${article.getTitle()}"></h2>
            </div>

            <div class="row">
                <div class="col-2 fw-lighter" th:text="${article.getWriterId()}">글쓴이</div>
                <div class="col-2 fw-lighter" th:text="${article.getWrittenDate()}">작성일</div>
                <div class="col text-end fw-lighter" th:text="|조회 ${article.getHit()}|">조회수</div>
            </div>
            <textarea th:text="${article.getContents()}" name="contents" id="contents" hidden></textarea>

            <div class="mb-5 mt-5" id="viewer"></div>

            <div class="d-flex justify-content-between">
                <a sec:authorize="isAuthenticated()" th:if="${isItYou}" class="btn btn-primary"
                   th:href="@{/board/editArticle/{articleId}(articleId=${article.getArticleUid()})}"
                   type="button">수정
                </a>
                <a sec:authorize="isAuthenticated()" th:if="${isItYou}" class="btn btn-primary"
                   th:href="@{/board/deleteArticle/{articleId}(articleId=${article.getArticleUid()})}"
                   type="button">삭제
                </a>
            </div>

        </div>
    </div>
</div>

</body>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="/js/user/getCsrfToken.js"></script>
<script src="/js/user/viewer.js"></script>
</html>