<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>게시판</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>

    <style>
        @media (min-width: 768px) {
            .container {
                width: 1000px;
            }
        }

        .page-link {
            font-size: small;
        }
    </style>
</head>


<body class="bg-light">
<nav th:replace="fragment/fragments.html :: navbar"></nav>
<div class="container">
    <div class="py-5 text-center">
        <h2>게시판 초안</h2>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary float-end"
                    th:href="@{/board/writeArticle}"
                    type="button">게시물 등록
            </a>

            <div class="dropdown float-end">
                <button class="btn btn-primary-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
                th:text="|${pageTool.getPagingIndex().getArticleCntInAPage()}개|">
                    50개
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1"
                    th:with="curPage = ${pageTool.getPagingIndex().getCurPage()}">
                    <li id="n1"><a th:href="@{/board/list(listNum=(10),page=(${curPage}))}">10개</a></li>
                    <li id="n2"><a th:href="@{/board/list(listNum=(50),page=(${curPage}))}">50개</a></li>
                    <li id="n3"><a th:href="@{/board/list(listNum=(100),page=(${curPage}))}">100개</a></li>
                </ul>
            </div>

        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>글번호</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>작성일</th>
                <th>조회</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article : ${articles}">
                <td th:text="${article.getArticleUid()}"> 글번호</td>
                <td><a th:href="@{/board/{articleId}(articleId=${article.getArticleUid()})}" th:text="${article.getTitle()}"> 제목 </a></td>
                <td><a th:href="@{#}" th:text="${article.getWriterId()}">글쓴이</a></td>
                <td th:text="${article.getWrittenDate()}">작성일</td>
                <td th:text="${article.getHit()}">조회</td>
                <td></td>
            </tr>
            </tbody>
        </table>

        <ul class="pagination pagination-sm justify-content-center"
            th:with="curPage = ${pageTool.getPagingIndex().getCurPage()},
                     start = ${pageTool.getStartPage()},
                     end = ${pageTool.getEndPage()},
                     totalEnd = ${pageTool.getTotalEndPage()},
                     listNum = ${pageTool.getPagingIndex().getArticleCntInAPage()},
                     lastPage = ${pageTool.getLastPage()},
                     dispPgNum = ${pageTool.getDisplayPageNum()}">

            <li th:if="${curPage>dispPgNum}" class="page-item">
                <a class="page-link" th:href="@{/board/list(listNum=(${listNum}))}">처음</a>
            </li>
            <li th:if="${curPage>dispPgNum}" class="page-item">
                <a class="page-link" th:href="@{/board/list(listNum=(${listNum}),page=(${curPage}-${dispPgNum}))}">이전</a>
            </li>
            <th:block th:each="page: ${#numbers.sequence(start,end)}">
                <li th:if="${page==curPage}" class="page-item active">
                    <a th:text="${page}" class="page-link" th:href="@{/board/list(listNum=(${listNum}),page=${page})}"></a>
                </li>
                <li th:unless="${page==curPage}" class="page-item">
                    <a th:text="${page}" class="page-link" th:href="@{/board/list(listNum=(${listNum}),page=${page})}"></a>
                </li>
            </th:block>
            <li th:if="${curPage<=totalEnd}" class="page-item">
                <a class="page-link" th:href="@{/board/list(listNum=(${listNum}),page=(${curPage}+${dispPgNum}))}">다음</a>
            </li>
            <li th:if="${curPage<=totalEnd}" class="page-item">
                <a class="page-link" th:href="@{/board/list(listNum=(${listNum}),page=${lastPage})}">끝</a>
            </li>
        </ul>
    </div>
</div> <!-- /container -->

<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>